<div style="display: none;">
  <div id="similar_issues">
      <b><%= l(:similar_issues_caption) %> (<span id="issues_count">&nbsp;</span>)</b>
      <ul id="similar_issues_list"></ul>
  </div>
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'didyoumean', :plugin => 'redmine_didyoumean' %>
    <%= javascript_include_tag 'didyoumean', :plugin => 'redmine_didyoumean' %>
<% end %>
<%= javascript_tag "observeIssueSubjectField();" %>