<fieldset>
<p><%= l(:dym_settings) %></p>
<p>
<label><%= l(:dym_show_only_open_label)%></label>
<%= select_tag 'settings[show_only_open]', options_for_select({
						l(:dym_only_open) => "1",
						l(:dym_all_statuses) => "0"
						}, @settings['show_only_open'])
%>
</p>
</fieldset>